<div *ngIf="firstView">
<form class="form-class">
  <div class="form-group">
    <label for="email">Username:</label>
    <input type="email" class="form-control" placeholder="Enter email" id="email"[(ngModel)]="username"
    [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd" 
    [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
</form>
</div>

<div *ngIf="secondView">
  <!-- <form (ngSubmit)="onRegister(f)" #f="ngForm" class="jumbotron">
    <input class="form-control" type="text" name="fName" ngModel>
    <input class="form-control" type="text" name="lName" ngModel>
    <button type="submit" class="btn btn-primary">Add</button>
 </form> -->
  <form (ngSubmit)="onRegister(f)" #f="ngForm" class="form-class">
    <h3>Create an employee:</h3>
      <div class="form-group">
        <label for="firstName">FirstName:</label>
        <div class="col">
          <input class="form-control" type="text" name="fName" placeholder="First name" [(ngModel)]="fname">
        </div>
        <label for="lastName">LastName:</label>
        <div class="col">
          <input class="form-control" type="text" name="lName" placeholder="Last name" [(ngModel)]="lname" 
      >
        </div>

          <div class="col">
          <label for="inputAddress">Address:</label>
          <input type="text" class="form-control" name="inputAddress" placeholder="Enter your address here"
          [(ngModel)]="address">
        </div>
        
          <div class="form-group col-md-8">
            
            <label for="inputCity">City:</label>
            <input type="text" class="form-control" name="inputCity" placeholder="Enter city name"
             [(ngModel)]="city">
        
          
            <label for="inputState">State:</label>
            <select name="inputState" class="form-control"  [(ngModel)]="state">
              <option selected>Uttar Pradesh</option>
              <option>Haryana</option>
              <option>Delhi</option>
            </select>
         
         
            <label for="inputZip">Zip:</label>
            <input type="text" class="form-control" name="inputZip" placeholder="Enter zip code"
             [(ngModel)]="zip">
            
        </div>
         <div class="col">
          <button type="submit" class="btn btn-primary">Register</button>
         </div>

      </div>
  </form>
</div>

<router-outlet></router-outlet>